*.o
*.a

/src/mass_width_2004.mc
/src/pydata.f
/src/PDFsets
/src/lhapdf/PDFsets

/libraries/lhapdf/Makefile
/libraries/lhapdf/config.log
/libraries/lhapdf/config.status
/libraries/lhapdf/src/Makefile
/libraries/lhapdf/src/lhapdf-config
/libraries/lhapdf/bin/lhapdf-config

/libraries/PGS4/src/stdhep-dir/log.mcfio
/libraries/PGS4/src/stdhep-dir/log.stdhep
/libraries/PGS4/examples/clean_output
/libraries/PGS4/examples/olympics

